main header {
  display: flex;
  
}

img {
  width: 20px;
  margin-left: 40px;
  cursor: pointer;
}

.modal {
  width: 80px;
  height: 100px;
  background-color: white;
}


.btns {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
}

.btns button {
  color: rgba(255, 255, 255, 0.938);
  font-size: 1.3rem;
  border: 0;

  border-radius: 10px;

  font-family: Heebo;
  font-weight: 700;

  cursor: pointer;

  padding: 5px 40px;
}

.btn-edit button {
  background-color: #80d8ff;
}

.btn-readmore button {
  background-color: #3decb1;
}

.btn-delete button {
  background-color: rgb(241, 45, 45);
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
